@import 'config';
@import 'contact';
@import 'projects';
@import 'about';

:root {
    background-color: $background-color;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: $body-font;
}

h1 {
    color: $active-heading;
    font-family: 'Cairo', sans-serif;
}

h2 {
    color: $sub-heading;
}

body {
    overflow-x: hidden;
}

.burger {
    display:none;

    div {
        width: 25px;
        height: 5px;
        background-color: $sub-heading;
        margin: 0.4rem;
    }
}

.nav-container {
    background: rgba(246, 240, 237, 0.84);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    width: 240px;

    .logo {
        margin-top: 1rem;
        margin-left: 1rem;

        img {
            width: 200px;
        }
    }
     
    ul { 
        
        li {
            font-family: 'Cairo', sans-serif;
            list-style: none;
            margin-top: 2rem;  

            a {
                text-decoration: none;
                color: $sub-heading;

                .nav-active {
                    color: $active-heading;
                    text-decoration: underline;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .social-icons {
        margin: auto;
        margin-bottom: 1rem;
        
        a {
            text-decoration: none;
            color: $sub-heading;
            padding-right: 2rem;
        }

        a:hover {
            color: $active-heading;
        }
    }
}

main {
    margin-left: 240px;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.slide1 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow1.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide2 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow2.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide3 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow3.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide4 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow4.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide5 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow5.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide6 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow6.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

.slide7 {
    height: 66vh;
    background-image: url('../images/Slideshow/slideshow7.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s ease;
}

@media (max-width: 760px) {
    main {
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-right: auto;
    }

    .burger {
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        margin-top: 0.7rem;
        margin-right: auto;
        margin-left: 0.5rem;
    }
    
    .nav-container {
        z-index: 1;
        width: 100%;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in;

        .logo {
            margin-left: 0;

            img {
                width: 150px;
            }
        }

        ul {
            text-align: center;
            margin-top: 0;
            padding: 0;

            li {
                text-align: center;
                margin-left: 0;
                padding-left: 0;
            }

        }
        
        .social-icons {
            a {
                align-items: center;
                text-align: center;
                padding-left: 1.5rem;
            }
            
        }
    }

    .nav-active{
        transform: translateX(0%);
    }

    .homepage-slideshow {
        margin-top: 3.5rem;
    }

    .slide1, .slide2 , .slide3, .slide4, .slide5, .slide6, .slide7 {
        height: 40vh;
    }

    .page-title {
        margin-top: -0.5rem;
        text-align: center;
    }
}